{% extends "/templates/base.html.twig" %}

{% block title %}
    Add Category
{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css"> 
        body {text-align: center;}
    </style>
{% endblock %}

{% block content %}
    <form action="/addcategory" method="POST">
        <input type="text" name="category" id="category" placeholder="Category">
        <br/>
        <button type="submit">Save Category</button>
    </form>
{%endblock%}
